:root {
  /* Body */
  --padding-section: clamp(3rem, 10vw, 12.5rem);
  --font-family-raleway: "Raleway", sans-serif;
  --font-weight-semi: 600;
  --font-weight-light: 300;
  --primary-color: #01353e;
  --color-p: #242121;
  --background-color: #f8f8f8;
  --font-size-semi: 14px;
  /* Body/ */

  /* Header */
  --logo-size: 60px;
  --header-font-size-h1: clamp(3rem, 9vw, 12.5rem);
  --header-font-size-h2: clamp(0.5rem, 1.4vw, 1.5rem);
  --gap-content: 9.6vw;
  --gap-list: 2.3vw;
  --nav-hover-color: #00b2a0;
  /* Header/ */

  /* Main */
  --main-font-size-h2: clamp(1.5rem, 3.2vw, 3rem);

  /* Main/ */

  /* Media */
  --font-size-after: 2.5rem;
  /* Media/ */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Animate */

.hidden {
  opacity: 0;
  transform: translateY(20px);
  overflow: hidden;
}

.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  overflow: hidden;
}

.from-right.animate {
  transform: translateX(0) translateY(0);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  overflow: hidden;
}

.from-right.hidden {
  transform: translateX(100px) translateY(20px);
  overflow: hidden;
}

.from-left.animate {
  transform: translateX(0) translateY(0);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  overflow: hidden;
}

.from-left.hidden {
  transform: translateX(-100px) translateY(20px);
  overflow: hidden;
}

.receive__description_item.animate:nth-child(1) {
  transition-delay: 0.3s;
}
.receive__description_item.animate:nth-child(2) {
  transition-delay: 0.6s;
}
.receive__description_item.animate:nth-child(3) {
  transition-delay: 0.9s;
}
/* Animate/ */

/* Main */

.video {
}
.video__content {
}
.video-player {
  margin: 200px 0 200px 0;
  position: relative;
  width: 1200px;
  height: 600px;
}

.video {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  gap: 5px;
}
.top {
}

.bot {
  display: flex;
  gap: 20px;
  align-items: center;
}
.controls button {
  cursor: pointer;
}
.time {
  color: #dedede;
}

#volumeBar {
  -webkit-appearance: none;
  width: 150px;
  height: 4px;
  background: #dedede;
  border-radius: 5px;
  outline: none;
}

/* Ползунок (thumb) */
#volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

#seekBar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #dedede;
  border-radius: 5px;
  outline: none;
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}
/* Main/ */

.btn_video {
  background: none;
  border: none;
  cursor: pointer;
  width: 10px;
}

.img_video {
  width: 15px;
  color: #fff;
  fill: #fff;
}
