* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

:root {
  /* Color */
  --primary-color: #01353e;
  --secondary-color: #00b2a0;
  --tertiary-color: #242121;
  --background-color: #f8f8f8;
  /* Color/ */

  /* Title */
  --title-h2-fs: 48px;
  --title-h2-fw: 600;
  --title-h2-ff: "Raleway";
  /* Title/ */

  /* Text */
  --text-p-fs: 14px;
  --text-p-fw: 300;

  /* Text/ */
  /* Body */
  --padding-section: clamp(3rem, 10vw, 12.5rem);
  /* --ff-raleway: "Raleway", sans-serif; */
  --fw-semi: 600;
  --fw-light: 300;
  --fs-semi: 14px;
  /* Body/ */

  /* Header */
  --logo: 60px;
  --header-font-size-h1: clamp(3rem, 9vw, 12.5rem);
  --header-font-size-h2: clamp(0.5rem, 1.4vw, 1.5rem);
  --gap-content: 9.6vw;
  --gap-list: 2.3vw;
  /* Header/ */

  /* Main */
  --main-font-size-h2: clamp(1.5rem, 3.2vw, 3rem);

  /* Main/ */

  /* Media */
  --font-size-after: 2.5rem;
  /* Media/ */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  color: var(--primary-color);
  font-size: var(--title-h2-fs);
  font-weight: var(--title-h2-fw);
  font-family: var(--title-h2-ff);
  position: relative;
}

.title::after {
  content: "/";
  position: absolute;
  font-family: var(--title-h2-fw);
  font-size: 4.5rem;
  font-weight: var(--fs-semi);
  color: var(--secondary-color);
  top: 10%;
}

.text {
  color: var(--tertiary-color);
  font-size: var(--text-p-fs);
  font-weight: var(--text-p-fw);
}
/* Animate */

.hidden {
  opacity: 0;
  transform: translateY(20px);
  overflow: hidden;
}

.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  overflow: hidden;
}

.from-right.animate {
  transform: translateX(0) translateY(0);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  overflow: hidden;
}

.from-right.hidden {
  transform: translateX(100px) translateY(20px);
  overflow: hidden;
}

.from-left.animate {
  transform: translateX(0) translateY(0);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  overflow: hidden;
}

.from-left.hidden {
  transform: translateX(-100px) translateY(20px);
  overflow: hidden;
}

.receive__description_item.animate:nth-child(1) {
  transition-delay: 0.3s;
}
.receive__description_item.animate:nth-child(2) {
  transition-delay: 0.6s;
}
.receive__description_item.animate:nth-child(3) {
  transition-delay: 0.9s;
}
.footer_container {
  height: 200px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Animate/ */

/* 320 × 568, 360 × 640, 414 × 896, 768 × 1024, 1024 × 768, 1280 × 800 / 720, 1366 × 768 */

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.header__content {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  user-select: none;
  width: var(--logo-size);
}

.header__nav {
  display: block;
}
.header__nav-list {
  display: flex;
  gap: var(--gap-list);
}
.header__nav-link {
  font-size: var(--header-font-size-h2);
  display: inline-block;
  position: relative;
  user-select: none;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background: var(--secondary-color);
  transition: 300ms;
}

.header__nav-link:hover::after {
  width: 100%;
  left: 0;
}

.header__burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 20;
}

.header__burger span {
  background-color: #fff;
  height: 2px;
  width: 25px;
  transition: all 0.3s ease-in-out;
}

.header__burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.header__burger.active span:nth-child(2) {
  opacity: 0;
}
.header__burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Media-Header */

/* Media-Header/ */

/* Header/ */

/* Hero */

/* Header/ */

/* Main */
.hero {
  background-image: url("/assets/main//bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 112.9vh;
  position: relative;
  z-index: 1;
}
.hero__inner {
  padding-top: 367px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 293px;
  padding-bottom: 32px;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-size: var(--header-font-size-h1);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #0d302c;
  user-select: none;
}

.hero__subtitle {
  font-size: var(--header-font-size-h2);
  font-weight: 400;
  user-select: none;
  padding-bottom: 32px;
}

/* About */
.about {
  padding-top: 190px;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.about__list {
  padding-top: 9.2vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8vh 6.25vw;
}

/* Media */

@media (max-width: 1440px) {
  .about__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1200px) {
  .about__list {
    grid-template-columns: 1fr;
    max-width: 500px;
    width: 100%;
    padding-bottom: 100px;
  }
}

/* About/ */

/* Receive */
.receive {
  padding-top: var(--padding-section);
  padding-bottom: 200px;
  background-color: var(--background-color);
}

.receive__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receive__title {
  color: var(--primary-color);
  font-size: var(--main-font-size-h2);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-raleway);
  position: relative;
}

.receive__title::after {
  content: "/";
  position: absolute;
  font-family: var(--font-family-raleway);
  font-size: 4.5rem;
  font-weight: var(--font-weight);
  color: #00b2a0;
  top: 10%;
}

.receive__list {
  width: 100%;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.9vw 2.5vh;
}

.receive__item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-p);
}

.receive__item:nth-child(2) {
  justify-self: center;
}

.receive__item:nth-child(3) {
  justify-self: end;
}

.receive__item-title {
  font-weight: 400;
  font-size: 1.5rem;
  width: 220px;
  height: 58px;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: var(--tertiary-color);
}

.receive__bottom {
  overflow: hidden;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.receive__stats {
  display: flex;
  flex-direction: column;
  gap: 0.9vh;
}

.progress__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.progress__info {
  display: flex;
  gap: 0.5vw;
}

.progress__value {
  font-size: 1.5rem;
}

.progress__subtitle {
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-light);
}

.receive__extra {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-light);
}

/* Media queries */
@media (max-width: 1440px) {
  .receive__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1200px) {
  .receive {
    padding-top: 200px;
  }

  .receive__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .receive__item:nth-child(3) {
    justify-self: center;
    grid-column: 1 / 3;
  }

  .receive__bottom {
    grid-template-columns: 350px 1fr;
    gap: 30px;
  }

  .receive__extra {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .receive {
    padding-top: 100px;
  }

  .receive__list {
    padding-top: 75px;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .receive__item:nth-child(3) {
    grid-column: auto;
  }

  .receive__bottom {
    padding-top: 55px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .receive__stats {
    grid-row-start: 2;
    justify-self: center;
    grid-column: 1 / 3;
  }

  .receive__extra {
    gap: 8px;
  }
}

@media (max-width: 414px) {
  .receive__list {
    text-align: center;
  }

  .receive__bottom {
    text-align: center;
  }
}

/* Receive/ */

/* Conquer */
.conquer {
  background-color: #fff;
  padding-bottom: 200px;
}
.conquer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
  height: 100%;
}

.conquer__text {
  max-width: 510px;
  justify-self: end;
  padding-top: 18.5vh;
  flex: 1;
  z-index: 2;
}

.conquer__information {
  padding-top: 9.3vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conquer__img {
  justify-self: end;
}

.conquer__img-tag {
  width: min(50vw, 850px);
}

@media (max-width: 1440px) {
  .conquer__text {
    padding-top: 110px;
  }
  .conquer__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1280px) {
  .conquer__inner {
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
  }
  .conquer__text {
    position: relative;
    z-index: 10;
    justify-self: center;
  }
  .conquer__title {
    color: #fff;
    text-align: center;
  }
  .conquer__information-item {
    color: #fff;
  }
  .conquer__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .conquer__img-tag {
    display: none;
  }
  .conquer__img-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/conquer_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.704);
    pointer-events: none;
    z-index: 2;
  }
}

/* Conquer/ */

/* Gallery */
.gallery {
  padding-bottom: 200px;
  overflow: hidden;
}

.gallery__inner {
  padding: 0 20px;
}
.gallery__title {
  text-align: center;
}

.gallery__tabs-wrapper {
  padding-top: 212px;
}

.gallery__tabs {
  display: flex;
  gap: 20px;
}

.gallery__tab {
  color: #242121;
  font-size: 24px;
}
.gallery__tab:hover {
  color: #00b2a0;
  transition: color 0.3s ease;
}
.gallery__tab.active {
  color: #00b2a0;
}
.gallery__cards:not(.active) {
  display: none;
}
.gallery__cards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.gallery__card:nth-child(1) {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.gallery__card:nth-child(2) {
  padding-left: 10px;
}
.gallery__card:nth-child(3) {
  justify-self: end;
}
.gallery__card:nth-child(6) {
  padding-left: 10px;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
}
.gallery__image {
}
.gallery__btn-wrapper {
  padding-top: 75px;
  text-align: center;
}
.gallery__btn {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  text-transform: uppercase;
  padding: 0.8vh 4.6vw;
  cursor: pointer;
}

.gallery__btn:hover {
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 1440px) {
  .gallery__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1280px) {
  .gallery__cards {
    justify-content: center;
    grid-template-columns: 290px 270px 290px;
  }

  .gallery__card:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .gallery__card:nth-child(2) {
    padding: 0;
    grid-column: 3;
    grid-row: 1;
  }

  .gallery__card:nth-child(3) {
    padding: 0;
    grid-column: 1;
    grid-row: 3;
  }

  .gallery__card:nth-child(4) {
    justify-self: end;
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__card:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }

  .gallery__card:nth-child(6) {
    padding: 0;
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media (max-width: 1024px) {
  .gallery__cards {
    gap: 20px 38px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .gallery__card {
    max-width: 250px;
    width: 100%;
  }
  .gallery__image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
  }
}

/* Gallery/ */

/* Separator */
.separator {
  background: #f8f8f8;
}
.separator__content {
  margin: 0 auto;
  width: 740px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator__title {
  display: flex;
  justify-content: center;
  color: var(--color-p);
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}
.separator__subtitle {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-size: 14px;
  color: var(--color-p);
}

/* Separator/ */

/* Video */
.video {
}
.video__content {
}
.video-player {
  margin: 200px 0 200px 0;
  position: relative;
  width: 1200px;
  height: 600px;
}

.video {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  gap: 5px;
}
.top {
}

.bot {
  display: flex;
  gap: 20px;
  align-items: center;
}
.controls button {
  cursor: pointer;
}
.time {
  color: #dedede;
}

#volumeBar {
  -webkit-appearance: none;
  width: 150px;
  height: 4px;
  background: #dedede;
  border-radius: 5px;
  outline: none;
}

#volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

#seekBar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #dedede;
  border-radius: 5px;
  outline: none;
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.btn_video {
  background: none;
  border: none;
  cursor: pointer;
  width: 10px;
}

.img_video {
  width: 15px;
  color: #fff;
  fill: #fff;
}

/* Video/ */

/* Indicators */
.indicators {
  padding-top: 200px;
}
.wrapper_titles {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.indicators_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicators_title_item {
  font-size: 64px;
  color: var(--primary-color);
}
.indicators_subtitle_item {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-p);
}

/* Indicators/ */

/* Blog */
.blog {
  padding-top: 200px;
}
.blog_title {
  display: flex;
  justify-content: center;
}
.blog_title_item {
  color: var(--primary-color);
  font-size: var(--main-font-size-h2);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-raleway);
  position: relative;
}
.blog_title_item::after {
  content: "/";
  position: absolute;
  font-family: var(--font-family-raleway);
  font-size: 4.5rem;
  font-weight: var(--font-weight);
  color: #00b2a0;
  top: 10%;
}

.slider_wrapper {
  position: relative;
  padding-top: 230px;
}
.slide {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
.slide.active {
  display: grid;
}
.slider_title {
  grid-column-start: 2;
  grid-row-start: 2;
}
.slider_title_item {
  font-size: 48px;
  color: var(--background-color);
}
.slider_subtitle_item {
  font-size: 14px;
  font-weight: 300;
  color: var(--background-color);
}
.pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  gap: 15px;
}
.dot {
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  border: 5px solid #00b2a0;
}

/* Blog/ */

/* Team */
.team {
  padding-top: 200px;
  padding-bottom: 200px;
}
.team_title {
  display: flex;
  justify-content: center;
}
.team_title_item {
  color: var(--primary-color);
  font-size: var(--main-font-size-h2);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-raleway);
  position: relative;
}
.team_title_item::after {
  content: "/";
  position: absolute;
  font-family: var(--font-family-raleway);
  font-size: 4.5rem;
  font-weight: var(--font-weight);
  color: #00b2a0;
  top: 10%;
}

.team_wrapper_card {
  padding-top: 210px;
  display: flex;
  gap: 150px;
}
.team_card {
  text-align: center;
}
.profile {
}
.text {
}
.team_card_title {
}
.team_subtitle_text {
}

/* Team/ */

/* Services */
.receive {
  padding-bottom: 200px;
  background-color: var(--background-color);
  padding-top: var(--padding-section);
}
.receive__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receive__title {
  color: var(--primary-color);
  font-size: var(--main-font-size-h2);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-raleway);
  position: relative;
}

.receive__title::after {
  content: "/";
  position: absolute;
  font-family: var(--font-family-raleway);
  font-size: 4.5rem;
  font-weight: var(--font-weight);
  color: #00b2a0;
  top: 10%;
}

.receive__description {
  width: 100%;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.9vw 2.5vh;
}

.receive__description_item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-p);
}

.receive__description_item:nth-child(2) {
  justify-self: center;
}
.receive__description_item:nth-child(3) {
  justify-self: end;
}

.description_item_title {
  font-weight: 400;
  font-size: 1.5rem;
  width: 220px;
  height: 58px;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.description_item_text {
  width: 100%;
  font-size: var(--font-size-semi);
  color: var(--color-p);
  font-weight: var(--font-weight-light);
}

.receive__footer {
  overflow: hidden;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.receive__footer__progress {
  display: flex;
  flex-direction: column;
  gap: 0.9vh;
}

.progress__item_title {
  display: flex;
  gap: 0.5vw;
}

.progress__item_title:nth-child(3) {
  width: 293px;
}

.progress__item_text {
  font-size: 1.5rem;
}

.progress__item_subtitle {
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-light);
}
.receive__footer__text {
  display: flex;
  flex-direction: column;
  gap: 2.8vh;
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-light);
}

/* Media */

@media (max-width: 1440px) {
  .receive__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1200px) {
  .receive {
    padding-top: 200px;
  }

  .receive__description {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .receive__description_item:nth-child(3) {
    justify-self: center;
    grid-column: 1 / 3;
  }
  .receive__footer {
    grid-template-columns: 350px 1fr;
    gap: 30px;
  }
  .receive__footer__text {
    gap: 8px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .receive {
    padding-top: 100px;
  }
  .receive__description {
    padding-top: 75px;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .receive__description_item:nth-child(3) {
    grid-column: auto;
  }
  .receive__footer {
    padding-top: 55px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .receive__footer__progress {
    grid-row-start: 2;
    justify-self: center;
    grid-column: 1 / 3;
  }

  .receive__footer__text {
    gap: 8px;
  }
}

@media (max-width: 414px) {
  .receive__description {
    text-align: center;
  }
  .receive__footer {
    text-align: center;
  }
}

@media (max-width: 360px) {
}

@media (max-width: 320px) {
}

/* Services/ */

/* Map */
.map {
  padding-top: 200px;
  padding-bottom: 200px;
}
.map_background {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map/ */

/* Main/ */

/* Footer */
/* Footer/ */

/* Media */
@media (max-width: 1440px) {
  .header__logo {
    width: 50px;
  }

  .hero__inner {
    padding-top: 100px;
    gap: 35vh;
  }

  .hero__icon {
    height: 50px;
  }
}

@media (max-width: 1360px) {
  .hero__inner {
    padding-top: 90px;
  }
}

@media (max-width: 1280px) {
  .hero__inner {
    padding-top: 190px;
  }
}

@media (max-width: 1024px) {
  .hero__inner {
    padding-top: 215px;
  }

  .header__nav-link {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 40px;
  }

  .hero__inner {
    padding-top: 400px;
  }

  .header__burger {
    display: flex;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #000000b1;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
  }

  .header__nav.active {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
  }
  .header__nav-list {
    height: 50vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__content {
    justify-content: space-between;
  }
}

@media (max-width: 414px) {
  .hero__inner {
    padding-top: 370px;
  }

  .hero__icon {
    height: 40px;
  }
}

@media (max-width: 360px) {
  .hero__inner {
    padding-top: 220px;
  }
}

@media (max-width: 320px) {
  .hero__inner {
    padding-top: 180px;
  }
}
/* Media/ */
