.conquer {
  background-color: #fff;
  padding-bottom: 200px;
}
.conquer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
  height: 100%;
}

.conquer__text {
  max-width: 510px;
  justify-self: end;
  padding-top: 18.5vh;
  flex: 1;
  z-index: 2;
}

.conquer__title {
  font-size: var(--main-font-size-h2);
  font-weight: var(--font-weight-semi);
  color: var(--primary-color);
  font-family: var(--font-family-raleway);
  position: relative;
}

.conquer__title::after {
  content: "/";
  position: absolute;
  font-family: var(--font-family-raleway);
  font-size: 4.5rem;
  font-weight: var(--font-weight);
  color: #00b2a0;
  top: 10%;
}

.conquer__information {
  padding-top: 9.3vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.conquer__information_item {
  max-width: 507px;
  font-size: var(--font-size-semi);
  font-weight: var(--font-weight-light);
  color: var(--color-p);
}

.conquer__img {
  justify-self: end;
}

.conquer__img_tag {
  width: min(50vw, 850px);
}

@media (max-width: 1440px) {
  .conquer__text {
    padding-top: 110px;
  }
  .conquer__title::after {
    font-size: var(--font-size-after);
    top: 30%;
  }
}

@media (max-width: 1280px) {
  .conquer__content {
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
  }
  .conquer__text {
    position: relative;
    z-index: 10;
    justify-self: center;
  }
  .conquer__title {
    color: #fff;
    text-align: center;
  }
  .conquer__information_item {
    color: #fff;
  }
  .conquer__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .conquer__img_tag {
    display: none;
  }
  .conquer__img_bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/conquer_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.704);
    pointer-events: none;
    z-index: 2;
  }
}
