.indicators {
  padding-top: 200px;
}
.wrapper_titles {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.indicators_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicators_title_item {
  font-size: 64px;
  color: var(--primary-color);
}
.indicators_subtitle_item {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-p);
}
