.slider_wrapper {
  position: relative;
  padding-top: 230px;
}
.slide {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
.slide.active {
  display: grid;
}
.slider_title {
  grid-column-start: 2;
  grid-row-start: 2;
}
.slider_title_item {
  font-size: 48px;
  color: var(--background-color);
}
.slider_subtitle_item {
  font-size: 14px;
  font-weight: 300;
  color: var(--background-color);
}
.pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  gap: 15px;
}
.dot {
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  border: 5px solid #00b2a0;
}
